/* Import the Onest font */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300;400;600&display=swap');

body {
    font-family: 'Onest', sans-serif; /* Establece la fuente principal del cuerpo del documento */
    /* width: 100%; */ /* Hace que el cuerpo ocupe el ancho completo del viewport */
    margin: 12px; /* Elimina los márgenes predeterminados */
    padding: 0; /* Elimina el relleno predeterminado */


    text-align: center; /* Centra el texto dentro del cuerpo */

    background-color: #0c0d11; /* Establece el color de fondo del cuerpo */
    background-image: radial-gradient(rgba(255, 255, 255, 0.192) 1px, transparent 0); /* Aplica un gradiente radial al fondo */
    background-size: 40px 40px; /* Define el tamaño de los puntos del gradiente */
    
    color: #ffffff; /* Establece el color de texto predeterminado */
}

/* Smooth scrolling behavior */
html {
    scroll-behavior: smooth;
}

h1, h2 {
    user-select: none; /* Evita que el título sea seleccionable por el usuario */
}

body sub {
    opacity: 0.5; /* Reduce la opacidad de los subíndices dentro del cuerpo */
}

body::-webkit-scrollbar { 
    display: none;  /* Oculta la barra de desplazamiento en navegadores WebKit (Safari y Chrome) */
}

/* GENERAL STYLING */

.highline {
    background-image: linear-gradient(90deg, #F03634, #F9C22E, #F03634);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientMove 3s linear infinite;
}

.separator {
    width: 50%; /* Establece el ancho del separador */
    margin: 40px auto; /* Centra el separador horizontalmente con márgenes superior e inferior de 40px */
    border: 0; /* Elimina cualquier borde */
    height: 1px; /* Establece la altura del separador */
    background-color: #ffffff1d; /* Establece el color del separador con una transparencia */
}

/* START HEADER STYLING */

/* Header styling */
.header {
    display: flex; /* Utiliza el modelo de caja flexible para el encabezado */
    justify-content: space-between; /* Distribuye los elementos del encabezado de manera uniforme */
    align-items: center; /* Centra verticalmente los elementos del encabezado */
}

/* Title styling */
.headline {
    font-size: 1.5em; /* Establece el tamaño del texto del título */
    user-select: none; /* Evita que el título sea seleccionable por el usuario */
    margin: 18px; /* Establece los márgenes internos del título */
}

/* Navigator header styling */
.nav-list {
    list-style: none; /* Elimina los estilos de lista predeterminados */
    display: flex; /* Utiliza el modelo de caja flexible para la lista de navegación */
    margin: 0; /* Elimina los márgenes predeterminados */
    padding: 0; /* Elimina el relleno predeterminado */
}

.nav-list li {
    margin-right: 20px; /* Establece el margen derecho entre elementos de la lista */
}

.nav-button {
    text-decoration: none; /* Elimina el subrayado predeterminado de los botones de navegación */
    padding: 10px 20px; /* Establece el relleno interno de los botones de navegación */
    transition: color 0.3s ease; /* Aplica una transición suave al cambio de color */
    color: #ffffff; /* Establece el color de texto predeterminado para los botones de navegación */
    font-weight: normal; /* Estilo normal del texto */
}

.cta-button {
    text-decoration: none; /* Elimina el subrayado predeterminado de los botones de navegación */
    padding: 10px 20px; /* Establece el relleno interno de los botones de navegación */
    color: white;
    background-image: linear-gradient(90deg, #F03634, #F9C22E, #F03634);
    background-size: 200% 100%;
    animation: gradientMove 3s linear infinite;
    border-radius: 32px;
    user-select: none;
    
}


@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}


.nav-button:hover {
    color: #F9C22E; /* Cambia el color del texto al pasar el cursor sobre los botones de navegación */
}
/* END HEADER STYLING */


/* START MAIN STYLING */
.main-section {
    text-align: center; /* Centra el contenido del área principal */
    padding: 100px 20px; /* Establece el relleno interno del área principal */
}

.main-section h1 {
    font-size: 3em; /* Establece el tamaño del título principal */
    font-weight: 600; /* Establece el peso de la fuente del título principal */
    margin-bottom: 20px; /* Establece el margen inferior del título principal */
}

.main-section p {
    font-size: 1.2em; /* Establece el tamaño del texto del párrafo */
    font-weight: 300; /* Establece el peso de la fuente del párrafo */
    max-width: 800px; /* Establece el ancho máximo del párrafo */
    margin: auto; /* Centra el párrafo horizontalmente */
}
/* END MAIN STYLING */

/* START PARTNERSHIP STYLING */
.partnerships-section {
    text-align: center; /* Centra el contenido de la sección de asociaciones */
}

.partnerships-section h1 {
    font-size: 2.5em; /* Establece el tamaño del título de la sección de asociaciones */
    font-weight: 600; /* Establece el peso de la fuente del título de la sección de asociaciones */
    margin-bottom: 20px; /* Establece el margen inferior del título de la sección de asociaciones */
}


.description {
    font-size: 1.2em; /* Establece el tamaño del texto de la descripción */
    font-weight: 300; /* Establece el peso de la fuente de la descripción */
    max-width: 800px; /* Establece el ancho máximo de la descripción */
    margin: auto; /* Centra la descripción horizontalmente */
}

.carousel-section {
    display: flex; /* Utiliza el modelo de caja flexible para la sección de carrusel */
    justify-content: center; /* Centra los elementos del carrusel horizontalmente */
}

.carousel-track {
    display: flex; /* Utiliza el modelo de caja flexible para la pista del carrusel */
    justify-content: center; /* Centra los elementos de la pista del carrusel horizontalmente */
}

.product {
    opacity: 0.8; /* Establece la opacidad inicial de los productos */
    text-align: center; /* Centra el contenido del producto horizontalmente */
    width: 300px; /* Establece el ancho del producto */
    margin: 36px 20px; /* Establece los márgenes exteriores del producto */
    transition: transform 0.2s ease-in-out; /* Aplica una transición suave al transformar el producto */
}

.product:hover {
    opacity: 1; /* Aumenta la opacidad del producto al pasar el cursor sobre él */
    transform: scale(1.05); /* Escala el producto en un 5% adicional al pasar el cursor sobre él */
}

.product-image {
    width: 80%; /* Asegura que la imagen ocupe todo el ancho de su contenedor */
    max-height: 150px; /* Establece la altura máxima de la imagen del producto */
    object-fit: cover; /* Ajusta la imagen para que cubra todo el área disponible */
    max-width: 100%; /* Asegura que la imagen sea completamente responsive */
    border-radius: 14px; /* Aplica bordes redondeados a la imagen */
}

/* END PARTNERSHIP STYLING */

/* START ABOUT US STYLING */
.aboutus-section {
    text-align: center; /* Centra el contenido de la sección Acerca de nosotros */
    padding: 24px; /* Establece el relleno interno de la sección Acerca de nosotros */
}

.aboutus-section p {
    font-size: 1.1em; /* Establece el tamaño del texto de los párrafos */
}

.aboutus-section h1 {
    font-size: 2.5em; /* Establece el tamaño del título de la sección Acerca de nosotros */
    margin-bottom: 20px; /* Establece el margen inferior del título de la sección Acerca de nosotros */
}
/* END ABOUT US STYLING */


.usimages-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
    padding: 20px;
}
.profile-card {
    text-align: center;
    max-width: 150px;
}
.profile-card img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-card h3 {
    margin: 10px 0 5px;
    font-size: 1.2em;
}
.profile-card p {
    margin: 10px;
    font-size: 0.9em;
    color: gray;
}
.social-links a {
    margin: 0 7px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out; /* Aplica una transición suave al transformar el producto */
}

.social-links a:hover {
    opacity: 1;
}

.techstack-container {
    width: 100%;
    overflow: hidden;
    margin-top: 24px;
}

.techstack {
    display: flex;
    animation: scroll 40s linear infinite;
}

.techstack-item {
    box-sizing: border-box;
    padding: 20px;
    margin: 0 10px;
    width: 80%; /* Asegura que la imagen ocupe todo el ancho de su contenedor */
    max-height: 75px; /* Establece la altura máxima de la imagen del producto */
    object-fit: cover; /* Ajusta la imagen para que cubra todo el área disponible */
    max-width: 100%; /* Asegura que la imagen sea completamente responsive */
    align-content: center;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

.techstack-item:hover {
    opacity: 1;
    transform: scale(1.1);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


.talkwithus-section {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Arrange children in a column */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center the text inside elements */
}

.talkwithus-section p {
    font-size: 1.1em; /* Set the text size of paragraphs */
}

.talkwithus-section h1 {
    font-size: 2.5em; /* Set the text size of the section title */
}

.chat-container {
    border-radius: 36px; /* Set border radius for rounded corners */
    width: 80%; /* Set the width of the chat container */
    height: 450px; /* Set the height of the chat container */
    background-color: #2c2c2c27; /* Set the background color with transparency */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Arrange children in a column */
    justify-content: flex-end; /* Align items to the bottom */
}

.chat-input {
    width: calc(100% - 20px); /* Ensure the input spans the width of the container */
    margin: 10px; /* Add some margin around the input */
    padding: 10px; /* Add padding inside the input */
    border-radius: 18px; /* Set border radius for rounded corners */
    background-color: #0c0d11;
    border: none;
    color: #fff;
    font-family: 'Onest', sans-serif; /* Establece la fuente principal del cuerpo del documento */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.chat-input:focus {
    border: none;
    outline: none;
}

.input-container {
    position: relative; /* Set relative positioning to the container */
    width: calc(100% - 20px); /* Set width of the input container */
    margin: 10px; /* Add margin around the input container */
}

.input-container i {
    position: absolute; /* Position the icon absolutely */
    right: 25px; /* Position it 15px from the right */
    top: 50%; /* Position it in the vertical center */
    transform: translateY(-50%); /* Adjust for the icon's height */
    cursor: none; /* Change cursor to pointer when hovering over the icon */
}