/* General styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #16181F;
    color: #FFF;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header styles */
header {
    background-color: #16181F;
    padding: 20px 0;
    border-bottom: 1px solid #16181F;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Navigation menu styles */
.navigation-menu {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.navigation-link {
    color: #FFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navigation-link:hover {
    color: #CA2F35;
}

/* Contact button styles */
.contact-button .button-link {
    background-color: #CA2F35;
    color: #FFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
}

/* Hero section styles */
.hero-section {
    display: flex;
    align-items: center;
    padding: 60px 0;
}

.hero-content {
    flex: 1;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero-image img {
    width: 100%;
    max-width: 400px;
}

.highlight {
    color: #CA2F35;
}

/* About and partnerships section styles */
.about-section, .partnerships-section {
    padding: 60px 0;
}

.section-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.section-content p {
    font-size: 18px;
}
